/* responsive for mobile */
@media screen and (max-width: 576px) {
  /* nav */
  .nav-container,
  nav,
  ul,
  .gamer-container {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
  }
  .gamer-description {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .games {
    display: grid;
    grid-template-columns: 1fr;
  }
  ul li {
    margin-top: 2rem;
  }
  .nav-link {
    padding: 0.5rem;
  }

  /* banner section */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-img img,
  .gamer-img img {
    width: 100%;
    margin: 1rem auto;
  }
  .banner-content,
  .gamer-description {
    width: 100%;
    margin: 0.5rem 1rem;
    text-align: center;
  }
}
